<main id="page-content" class="hidden">    
    <div id="body-wrapper">
        <div id="home_Slider" class="bg-dark-purple-color">
            <h2 data-aos="fade-right" class="white-color font-102 ProximaNova-Extrabold">{{home_slider_title}}</h2> 
            <img src="assets/images/banner_card.png" alt="Card" data-aos="fade-up" class="Slider_Card"/>
        </div>
        <div class="main-content bg-alice-blue-color">
            <h3 class="ProximaNova-Bold font-30 gray-color">Credit Opportunities With Good Approval Odds†</h3>
            <div class="masterCard_Box bg-white-color">
                <div id="Firstrow">
                    <div class="column-1">
                        <h4 class="gray-color font-20 ProximaNova">Barclaycard CashForward™ World MasterCard™</h4>
                    </div>
                    <div class="column-2 d-sm-none d-xl-block d-none d-sm-block">
                        <div class="reviews_wrap">
                            <span (click)="toggleClass()" class="fa fa-star checked"></span>
                            <span (click)="toggleClass()" class="fa fa-star checked"></span>
                            <span (click)="toggleClass()" class="fa fa-star checked"></span>
                            <span (click)="toggleClass()" class="fa fa-star checked"></span>
                            <span (click)="toggleClass()" class="far fa-star"></span>
                            {{mat-star-rating}}
                            <span class="ProximaNova black-color font-15 rev_txt">{{reviews_count}} Reviews</span>
                        </div>                
                    </div>
                </div>
                <div id="Secondrow">
                    <div class="column-1">
                        <div class="visacard_Box">
                            <div class="visaCard_wrap"><img src="assets/images/visa.jpg" class="visaCard" alt="Barclaycard CashForward™ World MasterCard™"/></div>            
                            <div class="Approval_Odds">
                                <span class="font-15 black-color ProximaNova">Approval Odds†</span>
                                <button type="button" class="ProximaNova-Bold white-color font-15 bg-cyan-color" id="veryGood_Btn">Very Good</button>
                            </div>
                        </div>
                        <button type="button" class="ProximaNova-Bold white-color font-15 bg-orange-color lg-screen" id="applyNow_Btn">Apply Now</button>
                    </div>
                    <div class="column-2">
                        <div class="masterCard_Content">
                            <ul id="cardcontent_List">
                                <li class="font-18 ProximaNova black-color">Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</li>
                                <li class="font-18 ProximaNova black-color">Earn unlimited 1.5% cash rewards on every purcahse.</li>
                                <li class="font-18 ProximaNova black-color">Earn unlimited 1.5% cash rewards on every.</li>
                                <button type="button" class="ProximaNova dodger-color font-18" id="showmore_Btn">show more</button>
                                <li class="font-18 ProximaNova black-color">Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</li>
                                <li class="font-18 ProximaNova black-color">Earn unlimited 1.5% cash rewards on every purcahse.</li>
                                <li class="font-18 ProximaNova black-color">Earn unlimited 1.5% cash rewards on every.</li>
                                <li class="font-18 ProximaNova black-color">Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</li>
                                <li class="font-18 ProximaNova black-color">Earn unlimited 1.5% cash rewards on every purcahse.</li>                        
                            </ul>                    
                            <button type="button" class="ProximaNova dodger-color font-18" id="showLess_Btn">show less</button>
                        </div>
                    </div>
                    <div class="col-md-12 mobile-screen"><button type="button" class="ProximaNova-Bold white-color font-15 bg-orange-color" id="applyNow_Btn">Apply Now</button></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="Line_Separator bg-whirlpool-color">&nbsp;</div>
                    </div>
                    <div class="col-md-12"><a href="javascript:void(0);" class="ProximaNova dodger-color font-18">See Details Rates & Fees</a></div>
                </div>
            </div>
        </div>
    </div>
</main>